.dashboard-grid-container {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: auto 200px;
  background-color: white;
  padding-bottom: 50px;
}
.dashboard-grid-profiles {
  display: grid;
  grid-column-gap: 0px;
  grid-template-columns: 200px 200px 200px;
  background-color: white;
  padding-bottom: 50px;
  margin-top: 30%;
}
.Bar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 150px;
  height: 10px;
  background-color: rgba(211, 211, 211, 0.8);
  float: left;
  margin-top: 15.5%;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}
.background-profile {
  border-radius: 50px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.property-image {
  height: 60px;
  width: 60px;
  border: solid white 5px;
  border-radius: 50%;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.Profile-img {
  border-radius: 50%;
}

.buttonAddSession {
  height: 30px;
  width: 90px;
  font-size: 12px;
  background-color: seagreen;
  color: white;
  text-align: right;
  margin-bottom: 20px;
}

.Modal {
  background-color: rgb(166, 218, 212);
  padding: 30px 30px 30px 30px;
  border: none;
}
.In {
  padding-left: 40px;
}
.In:hover {
  background-color: rgb(253, 246, 246);
}
.Label {
  padding-right: 40px;
}
.buttonSaveModal {
  height: 30px;
  width: 60px;
  background-color: seagreen;
  color: white;

  margin-top: 30px;
  text-align: center;
  margin-left: 230px;
}
